.header {
	height: 5rem;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 5;
	display: flex;
	justify-content: space-between;
	background-color: #ffff;
}

.header__middle {
	display: flex;
	align-items: center;
	margin-right: 94px;
}
.header__middle  a{
	color: black;
	font-weight: 600;
	font-size: 14px;
}

.header__left {
	display: block;
	overflow: hidden;
	padding: 0 2rem;
}

.header__logo {
	margin-top: 8px;
	height: 49px;
	width: 133px;
	transform: translate(-21px, -10px)
	
}

.header__right {
	margin: auto 0;
	margin-right: 1rem;
}
.header__right a {
	color: black;
	font-weight: 600;
	font-size: 16px;
}
.header__nav__btn {
	display: none;
	font-size: 1.2rem;
	font-family: 'Lato', sans-serif;
	font-weight: 500;
	padding: 1rem;
	color: var(--white);
	border-radius: 1.5rem;
	text-transform: capitalize;
	transition: background 0.3s linear;
}

.header__nav__btn:hover {
	background: #0000001c;
}

.header__nav__btn.menu__btn {
	display: inline-block;
}

.header__middle .header__nav__btn {
	margin-right: 2rem;
}
