.contenedor{
	max-width: 120rem;
	margin: 0 auto;
}
#fullpage.no-scroll {
	overflow-y: hidden;
	max-height: 100vh;
}
.sub2_home {
	position: relative;
}
.section {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
/********** Section 1 Pagina Polux Products **********/
.section_1 {
	background-image: url(/media/acero/postes_brazos/MENU_ACERO_Banner.png);
	margin-top: 48px;
	height: 705px;
	background-repeat: no-repeat;
	/* background-position: center right; */
	background-size: cover;
	background-position: center center;
	/* position: relative; */
	padding: 50px 0;
}
.section_1__column{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
}
@media (min-width:768px){ 
	.section_1__column{
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: flex-end;
		height: 100%;
		width: 100%;
		gap: 40px;
		
	}
}
.section_1__box-icon{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	row-gap: 20px;
	
}
@media (min-width:768px){ 
	.section_1__box-icon{
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: row;
	}
}
.section_1__icon{
	width: 50px;
	height: 50px;
}
.section_1__text{
	font-size: 14px;
	color: #ffff;
	font-weight: 300;
	font-family: 'Roboto', sans-serif;
	text-align: center;
}
@media (min-width:768px){ 
	.section_1__text{
		text-align: initial;
	}

}
.section_1__span{
	font-size: 15px;
	color: #ffff;
	font-weight: 500;
	font-family: 'Roboto', sans-serif;

}
@media (min-width:768px){ 
	.section_1 {
		background-image: url(/media/acero/postes_brazos/MENU_ACERO_Banner.png);
		margin-top: 48px;
		height: 705px;
		background-repeat: no-repeat;
		/* background-position: center right; */
		background-size: cover;
		/* position: relative; */
	}
}
/********** End Section 1 Pagina Polux Products **********/

.section.two {
	background-image: url(/media/acero/postes_brazos/MENU_ACERO_Banner.png);
}
.section__content {
	position: absolute;
	top: 25%;
	left: 50%;
	transform: translateX(-50%);
	width: 100%;
	text-align: center;
	text-transform: capitalize;
	color: var(--primary-color);
	padding: 20px;
}

.section__content__title {
	font-size: 4rem;
	font-family: 'Roboto', sans-serif;
	font-weight: 900;
	margin-bottom: 0.2rem;
	transform: translate(10px, -26px);
}

.section__content__subtitle {
	font-size: 1.5rem;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 19px;
	transform: translate(10px, -8px);
}
.section__content__subtitle2{
	padding-bottom: 5px;
	padding-top: 10px;
	font-size: 2em;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	transform: translate(10px, -39px);
}
.section__content_img{
	height: 120px;
	width: 100%;
}
@media (min-width:768px){ 
	.section__content_img{
		height: 350px;
	}
}
.section__content_img img{
	width: 80%;
	height: 100%;
	background-position: center center;
}
@media (min-width:768px){ 
	.section__content_img img{
		height: 100%;
		width: 50%;
	}
}
.section__content__subtitle3{
	font-family: 'Lato', sans-serif;
	/* padding-top: 20%; */
	font-size: 1.5em;
	font-weight: 500;
	color: var(--azul-corporativo);
}
.section__content__title4 {
	font-size: 4rem;
	font-family: 'Roboto', sans-serif;
	font-weight: 900;
	margin-bottom: 0.2rem;
	transform: translate(10px, -43px);
	
}
.section__content__subtitle a {
	color: inherit;
}

.section__content__subtitle a:hover {
	text-decoration: underline;
}
/* ---------- cards styles text */
.title_card{
	font-size: 2rem;
	padding: 2%;
	color: #333333;
	font-family: 'Lato', sans-serif;
	font-weight: 900;
	border-bottom: 1px solid #6d6d6d;
background-repeat: no-repeat;
background-size: cover;
}
.description-cards{
    font-size: 1.5rem;
	font-family: 'Lato', sans-serif;
	font-weight: 400;

}
.title-lines-products{
	border-bottom: 1px solid #6d6d6d;
}

.section__action__container {
	position: absolute;
	bottom: 15%;
	left: 50%;
	transform: translateX(-50%);
	width: 100%;
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.section__action__btn {
	font-size: 1.5rem;
	font-weight: 500;
	padding: 1rem;
	border-radius: 2rem;
	flex-basis: 80%;
	margin-bottom: 1rem;
	text-transform: capitalize;
}

.action__btn__primary {
	background: rgba(23, 26, 42, 0.8);
	color: white;
}

.action__btn__secondary {
	background: rgba(255, 255, 255, 0.65);
	color: var(--primary-color);
}
.title-body{
    font-size: 3rem;
	font-family: 'Lato', sans-serif;
	font-weight: 900;
	margin-bottom: -1.8rem;
}
.texto-justificado{
	text-align: justify;
	font-size: 1.5rem;
	font-weight: 500;
	margin-bottom: 3%;
	justify-content: center;
    align-items: center;
	
}
.title-card{
    font-family: 'Lato', sans-serif;
    font-weight: 500;
	
}
/* Section 2 Home */
.section-2{
	background-image: url('../media/home/banner_footer.png');
	height: 550px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}
@media (min-width:768px){ 
	.section-2{
		background-image: url('../media/home/banner_footer.png');
		height: 600px;
		background-repeat: no-repeat;
		/* background-position: center right; */
		background-size: cover;
		/* position: relative; */
	}
}
.section-2 .column{
	display: flex;
	align-items: flex-end;
	flex-direction: column;
	justify-content: end;
	/* position: absolute; */
	height: 100%;
	width: 100%;
	padding: 30px;
}
.section-2 .column h2{
	color:white;
	font-size: 30px;
	text-transform: uppercase;
	font-weight: 300;
	text-align: center;
	/* transform: translate(139px, -14px) */

}
@media (min-width:768px){ 
	.section-2 .column h2{
		font-size: 30px;
		margin-right: 150px;
		text-align: start;
		margin-bottom: 62px;
	}
}
.section-2 .column h2 span{
	font-weight: 700;
}
/* Footer */
footer{
	width: 100%;
	height: 200px;
	padding: 30px 0;
}
.footer-links{
	text-align: center;
	

}
@media (min-width:768px){ 
	.footer-links{
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		gap: 4rem;
		text-align: initial;
	}
}
.footer-links__logo{
	width: 133px;
	height: auto;
	margin-bottom: 20px;
	transform: translate(-18px, 6px)
}
.footer-links h3{
	font-size: 20px;
	margin-bottom: 15px;
}
.footer-links p{
	font-size: 11px;
	margin-bottom: 15px;
}
.siguenos{
	text-align: center;
}
@media (min-width:768px){ 
	.siguenos{
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		/* gap: 8rem; */
		text-align: initial;
	}
}

@media (min-width:768px){ 
	div.iconos-footer{
		display: flex;
		align-items: center;
	}
}
div.iconos-footer i{
	font-size: 20px;
	margin-right: 10px;
}
.siguenos__numero{
	font-weight: 700;
	font-size: 14px !important;
}
.siguenos__numero_2{
	font-weight: 700;
	font-size: 16px !important;
	text-align: center;
	transform: translate(10px, 10px);
}
.following{
	transform: translate(10px, 10px);
}
.horario{
	transform: translate(363px, -13px)
}
.encabezado_legal {
	transform: translate(10px, 16px)
}
.footer-copy{
	display: flex;
	justify-content: center;
	font-size: 11px;
	padding: 50px 0;
}
